# Project Concrete 

_Project Concrete_ aims to correlate, visualize and predict real estate prices based on the relationship between various
factors such as unemployment rate, disposable income and population growth in Austria.

Data Sources used for this endeavour
- [Unemployment Rates (Source: data.gv.at)](https://www.data.gv.at/katalog/dataset/CFE2FF7E9AD53C1EE053C630070AB105)
- [Real Estate Prices (Source: statistik.at)](https://www.statistik.at/web_de/statistiken/wirtschaft/preise/immobilien_durchschnittspreise/index.html)
- [Disposable Income  (Source: statistik.at)](https://www.statistik.at/web_de/statistiken/menschen_und_gesellschaft/soziales/haushalts-einkommen/index.html)
- [Population Growth (Source: statistik.at)](https://www.statistik.at/web_de/statistiken/menschen_und_gesellschaft/bevoelkerung/index.htm)

Planned execution steps:
- Data aggregation and collection (see Planned Data Sources)
- Data preperation and import into MongoDB
- Analysis of data via Jupyter Notebook
- Presentation and visualization of results (i.e. map of Austria, etc.)

### Install pymongo

In [2]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\christian\anaconda3\lib\site-packages (4.0.2)

### Connect to DB via connection string

In [105]:
from pymongo import MongoClient
import pymongo
import pandas as pd

# Provide the mongodb atlas url to connect python to mongodb using pymongo
CONNECTION_STRING = "mongodb://127.0.0.1:27017"

# Create a connection using MongoClient
myclient = MongoClient(CONNECTION_STRING)

print("Connection Successful")

# Check DB data
for db in myclient.list_databases():
    print(db)

Connection Successful
{'name': 'admin', 'sizeOnDisk': 40960, 'empty': False}
{'name': 'config', 'sizeOnDisk': 110592, 'empty': False}
{'name': 'local', 'sizeOnDisk': 40960, 'empty': False}

In [106]:
df = pd.read_csv('ub_al_alq_os.csv', sep = ";", decimal=',')
df

,Jahr,UnselbstBesch,ArbeitslosVorgemerkte,Arbeitslosenquote,OffeneStellen,Unnamed: 5
0,1946,1760000,74000,4.034896,140067,NaN
1,1947,1900000,52700,2.698827,102810,NaN
2,1948,1926700,54500,2.750858,45334,NaN
3,1949,1944700,99900,4.886041,35724,NaN
4,1950,1946886,128745,6.202692,25187,NaN
...,...,...,...,...,...,...
71,2017,3655297,339976,8.509456,56854,NaN
72,2018,3741484,312107,7.699519,71545,NaN
73,2019,3797304,301328,7.351916,77093,NaN
74,2020,3717164,409639,9.926304,62833,NaN
75,2021,3804941,331741,8.019495,95087,NaN

### Create collection

In [117]:
# In MongoDB collections and DBs are only created on first insert (reminiscent of Git folders)
db = myclient["immodb"]
# We insert the whole dateframe with the unemploymentdata
db.unemploymentData.insert_many(df.to_dict('records'))

#check if colletion has been created
print(db.list_collection_names())

['unemploymentData']

In [118]:
#check if colletion has content

unemp_col = db["unemploymentData"]
y = unemp_col.find()
 
for data in y:
    print(data)

{'_id': ObjectId('624d8d4f3c4c66d63708e6f3'), 'Jahr': 1946, 'UnselbstBesch': 1760000, 'ArbeitslosVorgemerkte': 74000, 'Arbeitslosenquote': 4.034896401308616, 'OffeneStellen': 140067, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e6f4'), 'Jahr': 1947, 'UnselbstBesch': 1900000, 'ArbeitslosVorgemerkte': 52700, 'Arbeitslosenquote': 2.6988272648128238, 'OffeneStellen': 102810, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e6f5'), 'Jahr': 1948, 'UnselbstBesch': 1926700, 'ArbeitslosVorgemerkte': 54500, 'Arbeitslosenquote': 2.750858065818696, 'OffeneStellen': 45334, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e6f6'), 'Jahr': 1949, 'UnselbstBesch': 1944700, 'ArbeitslosVorgemerkte': 99900, 'Arbeitslosenquote': 4.886041279467867, 'OffeneStellen': 35724, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e6f7'), 'Jahr': 1950, 'UnselbstBesch': 1946886, 'ArbeitslosVorgemerkte': 128745, 'Arbeitslosenquote': 6.202692097005682, 'OffeneStellen': 25187, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e6f8'), 'Jahr': 1951, 'UnselbstBesch': 1984313, 'ArbeitslosVorgemerkte': 117497, 'Arbeitslosenquote': 5.590276951770141, 'OffeneStellen': 26860, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e6f9'), 'Jahr': 1952, 'UnselbstBesch': 1939075, 'ArbeitslosVorgemerkte': 156792, 'Arbeitslosenquote': 7.481009052578242, 'OffeneStellen': 16303, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e6fa'), 'Jahr': 1953, 'UnselbstBesch': 1918891, 'ArbeitslosVorgemerkte': 183478, 'Arbeitslosenquote': 8.727202503461571, 'OffeneStellen': 12475, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e6fb'), 'Jahr': 1954, 'UnselbstBesch': 1975241, 'ArbeitslosVorgemerkte': 163073, 'Arbeitslosenquote': 7.626241983169918, 'OffeneStellen': 17190, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e6fc'), 'Jahr': 1955, 'UnselbstBesch': 2074223, 'ArbeitslosVorgemerkte': 117890, 'Arbeitslosenquote': 5.377916193188946, 'OffeneStellen': 24590, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e6fd'), 'Jahr': 1956, 'UnselbstBesch': 2137093, 'ArbeitslosVorgemerkte': 115123, 'Arbeitslosenquote': 5.11154347540378, 'OffeneStellen': 21811, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e6fe'), 'Jahr': 1957, 'UnselbstBesch': 2185387, 'ArbeitslosVorgemerkte': 107283, 'Arbeitslosenquote': 4.679391277418905, 'OffeneStellen': 21089, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e6ff'), 'Jahr': 1958, 'UnselbstBesch': 2202809, 'ArbeitslosVorgemerkte': 116675, 'Arbeitslosenquote': 5.030213616476768, 'OffeneStellen': 21435, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e700'), 'Jahr': 1959, 'UnselbstBesch': 2236064, 'ArbeitslosVorgemerkte': 104856, 'Arbeitslosenquote': 4.479264562650582, 'OffeneStellen': 24882, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e701'), 'Jahr': 1960, 'UnselbstBesch': 2281915, 'ArbeitslosVorgemerkte': 79310, 'Arbeitslosenquote': 3.3588497496003136, 'OffeneStellen': 30189, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e702'), 'Jahr': 1961, 'UnselbstBesch': 2322206, 'ArbeitslosVorgemerkte': 60505, 'Arbeitslosenquote': 2.5393343968278157, 'OffeneStellen': 37777, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e703'), 'Jahr': 1962, 'UnselbstBesch': 2340448, 'ArbeitslosVorgemerkte': 61658, 'Arbeitslosenquote': 2.5668309391841992, 'OffeneStellen': 37608, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e704'), 'Jahr': 1963, 'UnselbstBesch': 2342103, 'ArbeitslosVorgemerkte': 67642, 'Arbeitslosenquote': 2.8070189999356776, 'OffeneStellen': 37362, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e705'), 'Jahr': 1964, 'UnselbstBesch': 2363780, 'ArbeitslosVorgemerkte': 62828, 'Arbeitslosenquote': 2.589128528382005, 'OffeneStellen': 39612, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e706'), 'Jahr': 1965, 'UnselbstBesch': 2381467, 'ArbeitslosVorgemerkte': 61464, 'Arbeitslosenquote': 2.515994107078751, 'OffeneStellen': 41888, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e707'), 'Jahr': 1966, 'UnselbstBesch': 2386628, 'ArbeitslosVorgemerkte': 56188, 'Arbeitslosenquote': 2.3001323063218844, 'OffeneStellen': 45937, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e708'), 'Jahr': 1967, 'UnselbstBesch': 2359550, 'ArbeitslosVorgemerkte': 57967, 'Arbeitslosenquote': 2.3977907911299075, 'OffeneStellen': 32402, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e709'), 'Jahr': 1968, 'UnselbstBesch': 2339319, 'ArbeitslosVorgemerkte': 61505, 'Arbeitslosenquote': 2.561828772121572, 'OffeneStellen': 27638, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e70a'), 'Jahr': 1969, 'UnselbstBesch': 2357655, 'ArbeitslosVorgemerkte': 55235, 'Arbeitslosenquote': 2.289163617073302, 'OffeneStellen': 33889, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e70b'), 'Jahr': 1970, 'UnselbstBesch': 2389195, 'ArbeitslosVorgemerkte': 45106, 'Arbeitslosenquote': 1.8529343741796929, 'OffeneStellen': 45280, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e70c'), 'Jahr': 1971, 'UnselbstBesch': 2454858, 'ArbeitslosVorgemerkte': 36980, 'Arbeitslosenquote': 1.4840451104766843, 'OffeneStellen': 55914, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e70d'), 'Jahr': 1972, 'UnselbstBesch': 2512718, 'ArbeitslosVorgemerkte': 33235, 'Arbeitslosenquote': 1.3054050879965184, 'OffeneStellen': 61998, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e70e'), 'Jahr': 1973, 'UnselbstBesch': 2608306, 'ArbeitslosVorgemerkte': 31327, 'Arbeitslosenquote': 1.1867937701945688, 'OffeneStellen': 66060, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e70f'), 'Jahr': 1974, 'UnselbstBesch': 2656922, 'ArbeitslosVorgemerkte': 35931, 'Arbeitslosenquote': 1.3343097450919157, 'OffeneStellen': 57599, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e710'), 'Jahr': 1975, 'UnselbstBesch': 2656440, 'ArbeitslosVorgemerkte': 55464, 'Arbeitslosenquote': 2.045205140004956, 'OffeneStellen': 31209, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e711'), 'Jahr': 1976, 'UnselbstBesch': 2685862, 'ArbeitslosVorgemerkte': 55257, 'Arbeitslosenquote': 2.015855568474043, 'OffeneStellen': 29366, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e712'), 'Jahr': 1977, 'UnselbstBesch': 2737147, 'ArbeitslosVorgemerkte': 51165, 'Arbeitslosenquote': 1.8349811642312623, 'OffeneStellen': 32136, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e713'), 'Jahr': 1978, 'UnselbstBesch': 2757705, 'ArbeitslosVorgemerkte': 58570, 'Arbeitslosenquote': 2.0796974727254973, 'OffeneStellen': 29405, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e714'), 'Jahr': 1979, 'UnselbstBesch': 2773719, 'ArbeitslosVorgemerkte': 56719, 'Arbeitslosenquote': 2.0038948035604385, 'OffeneStellen': 31360, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e715'), 'Jahr': 1980, 'UnselbstBesch': 2788737, 'ArbeitslosVorgemerkte': 53161, 'Arbeitslosenquote': 1.8706160460368388, 'OffeneStellen': 36470, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e716'), 'Jahr': 1981, 'UnselbstBesch': 2798557, 'ArbeitslosVorgemerkte': 69295, 'Arbeitslosenquote': 2.4162683429967795, 'OffeneStellen': 25320, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e717'), 'Jahr': 1982, 'UnselbstBesch': 2766350, 'ArbeitslosVorgemerkte': 105346, 'Arbeitslosenquote': 3.668424512901087, 'OffeneStellen': 17276, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e718'), 'Jahr': 1983, 'UnselbstBesch': 2734729, 'ArbeitslosVorgemerkte': 127376, 'Arbeitslosenquote': 4.450430714456667, 'OffeneStellen': 15181, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e719'), 'Jahr': 1984, 'UnselbstBesch': 2744506, 'ArbeitslosVorgemerkte': 130469, 'Arbeitslosenquote': 4.53809163557944, 'OffeneStellen': 17166, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e71a'), 'Jahr': 1985, 'UnselbstBesch': 2759657, 'ArbeitslosVorgemerkte': 139447, 'Arbeitslosenquote': 4.810003366557392, 'OffeneStellen': 22273, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e71b'), 'Jahr': 1986, 'UnselbstBesch': 2780204, 'ArbeitslosVorgemerkte': 151972, 'Arbeitslosenquote': 5.182908529365222, 'OffeneStellen': 24693, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e71c'), 'Jahr': 1987, 'UnselbstBesch': 2785358, 'ArbeitslosVorgemerkte': 164468, 'Arbeitslosenquote': 5.5755153015805, 'OffeneStellen': 26836, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e71d'), 'Jahr': 1988, 'UnselbstBesch': 2810478, 'ArbeitslosVorgemerkte': 158631, 'Arbeitslosenquote': 5.342713925288697, 'OffeneStellen': 31184, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e71e'), 'Jahr': 1989, 'UnselbstBesch': 2862291, 'ArbeitslosVorgemerkte': 149177, 'Arbeitslosenquote': 4.9536305881384095, 'OffeneStellen': 45599, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e71f'), 'Jahr': 1990, 'UnselbstBesch': 2928662, 'ArbeitslosVorgemerkte': 165795, 'Arbeitslosenquote': 5.357805909081949, 'OffeneStellen': 55622, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e720'), 'Jahr': 1991, 'UnselbstBesch': 2997352, 'ArbeitslosVorgemerkte': 185029, 'Arbeitslosenquote': 5.814168699473759, 'OffeneStellen': 49448, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e721'), 'Jahr': 1992, 'UnselbstBesch': 3055810, 'ArbeitslosVorgemerkte': 193098, 'Arbeitslosenquote': 5.943473930317509, 'OffeneStellen': 44126, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e722'), 'Jahr': 1993, 'UnselbstBesch': 3054910, 'ArbeitslosVorgemerkte': 222265, 'Arbeitslosenquote': 6.782213339232723, 'OffeneStellen': 32906, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e723'), 'Jahr': 1994, 'UnselbstBesch': 3070732, 'ArbeitslosVorgemerkte': 214941, 'Arbeitslosenquote': 6.54176480739258, 'OffeneStellen': 30197, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e724'), 'Jahr': 1995, 'UnselbstBesch': 3068186, 'ArbeitslosVorgemerkte': 215716, 'Arbeitslosenquote': 6.568892737968429, 'OffeneStellen': 24986, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e725'), 'Jahr': 1996, 'UnselbstBesch': 3047253, 'ArbeitslosVorgemerkte': 230507, 'Arbeitslosenquote': 7.032455091281851, 'OffeneStellen': 19431, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e726'), 'Jahr': 1997, 'UnselbstBesch': 3055569, 'ArbeitslosVorgemerkte': 233348, 'Arbeitslosenquote': 7.094979897638037, 'OffeneStellen': 19019, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e727'), 'Jahr': 1998, 'UnselbstBesch': 3076667, 'ArbeitslosVorgemerkte': 237794, 'Arbeitslosenquote': 7.174439524254471, 'OffeneStellen': 23088, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e728'), 'Jahr': 1999, 'UnselbstBesch': 3107898, 'ArbeitslosVorgemerkte': 221743, 'Arbeitslosenquote': 6.659666913039573, 'OffeneStellen': 31216, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e729'), 'Jahr': 2000, 'UnselbstBesch': 3133738, 'ArbeitslosVorgemerkte': 194314, 'Arbeitslosenquote': 5.838670789999675, 'OffeneStellen': 35495, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e72a'), 'Jahr': 2001, 'UnselbstBesch': 3148155, 'ArbeitslosVorgemerkte': 203883, 'Arbeitslosenquote': 6.082359448192413, 'OffeneStellen': 29670, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e72b'), 'Jahr': 2002, 'UnselbstBesch': 3155161, 'ArbeitslosVorgemerkte': 232418, 'Arbeitslosenquote': 6.8608879674835626, 'OffeneStellen': 23189, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e72c'), 'Jahr': 2003, 'UnselbstBesch': 3184759, 'ArbeitslosVorgemerkte': 240079, 'Arbeitslosenquote': 7.009937404338541, 'OffeneStellen': 21716, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e72d'), 'Jahr': 2004, 'UnselbstBesch': 3198591, 'ArbeitslosVorgemerkte': 243880, 'Arbeitslosenquote': 7.084446370279099, 'OffeneStellen': 23774, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e72e'), 'Jahr': 2005, 'UnselbstBesch': 3230286, 'ArbeitslosVorgemerkte': 252654, 'Arbeitslosenquote': 7.254043129506115, 'OffeneStellen': 26209, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e72f'), 'Jahr': 2006, 'UnselbstBesch': 3280878, 'ArbeitslosVorgemerkte': 239174, 'Arbeitslosenquote': 6.794615534088701, 'OffeneStellen': 32912, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e730'), 'Jahr': 2007, 'UnselbstBesch': 3344039, 'ArbeitslosVorgemerkte': 222248, 'Arbeitslosenquote': 6.231915715140144, 'OffeneStellen': 38214, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e731'), 'Jahr': 2008, 'UnselbstBesch': 3388617, 'ArbeitslosVorgemerkte': 212253, 'Arbeitslosenquote': 5.894492164393605, 'OffeneStellen': 37498, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e732'), 'Jahr': 2009, 'UnselbstBesch': 3339051, 'ArbeitslosVorgemerkte': 260309, 'Arbeitslosenquote': 7.232091260668564, 'OffeneStellen': 27165, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e733'), 'Jahr': 2010, 'UnselbstBesch': 3360238, 'ArbeitslosVorgemerkte': 250782, 'Arbeitslosenquote': 6.944907533051604, 'OffeneStellen': 31009, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e734'), 'Jahr': 2011, 'UnselbstBesch': 3421748, 'ArbeitslosVorgemerkte': 246702, 'Arbeitslosenquote': 6.724965584920062, 'OffeneStellen': 32310, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e735'), 'Jahr': 2012, 'UnselbstBesch': 3465454, 'ArbeitslosVorgemerkte': 260643, 'Arbeitslosenquote': 6.995067492875252, 'OffeneStellen': 29422, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e736'), 'Jahr': 2013, 'UnselbstBesch': 3482996, 'ArbeitslosVorgemerkte': 287206, 'Arbeitslosenquote': 7.617788118514605, 'OffeneStellen': 26383, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e737'), 'Jahr': 2014, 'UnselbstBesch': 3503400, 'ArbeitslosVorgemerkte': 319357, 'Arbeitslosenquote': 8.354101503182127, 'OffeneStellen': 26320, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e738'), 'Jahr': 2015, 'UnselbstBesch': 3534854, 'ArbeitslosVorgemerkte': 354332, 'Arbeitslosenquote': 9.11069822836964, 'OffeneStellen': 29251, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e739'), 'Jahr': 2016, 'UnselbstBesch': 3586872, 'ArbeitslosVorgemerkte': 357313, 'Arbeitslosenquote': 9.05923530463201, 'OffeneStellen': 40277, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e73a'), 'Jahr': 2017, 'UnselbstBesch': 3655297, 'ArbeitslosVorgemerkte': 339976, 'Arbeitslosenquote': 8.509456049686717, 'OffeneStellen': 56854, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e73b'), 'Jahr': 2018, 'UnselbstBesch': 3741484, 'ArbeitslosVorgemerkte': 312107, 'Arbeitslosenquote': 7.699518772367512, 'OffeneStellen': 71545, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e73c'), 'Jahr': 2019, 'UnselbstBesch': 3797304, 'ArbeitslosVorgemerkte': 301328, 'Arbeitslosenquote': 7.351916444316055, 'OffeneStellen': 77093, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e73d'), 'Jahr': 2020, 'UnselbstBesch': 3717164, 'ArbeitslosVorgemerkte': 409639, 'Arbeitslosenquote': 9.9263039275662, 'OffeneStellen': 62833, 'Unnamed: 5': nan}
{'_id': ObjectId('624d8d4f3c4c66d63708e73e'), 'Jahr': 2021, 'UnselbstBesch': 3804941, 'ArbeitslosVorgemerkte': 331741, 'Arbeitslosenquote': 8.0194948511875, 'OffeneStellen': 95087, 'Unnamed: 5': nan}

In [115]:
#code for droping collection (tables) 
# db["unemploymentData"].drop()

In [113]:
# Build new dataframe by reading from database
unemployment_df = pd.DataFrame(list(unemp_col.find()))
unemployment_df = unemployment_df.set_index("_id")
unemployment_df

,Jahr,UnselbstBesch,ArbeitslosVorgemerkte,Arbeitslosenquote,OffeneStellen,Unnamed: 5
_id,,,,,,
624d8c893c4c66d63708e6a7,1946,1760000,74000,4.034896,140067,NaN
624d8c893c4c66d63708e6a8,1947,1900000,52700,2.698827,102810,NaN
624d8c893c4c66d63708e6a9,1948,1926700,54500,2.750858,45334,NaN
624d8c893c4c66d63708e6aa,1949,1944700,99900,4.886041,35724,NaN
624d8c893c4c66d63708e6ab,1950,1946886,128745,6.202692,25187,NaN
...,...,...,...,...,...,...
624d8c893c4c66d63708e6ee,2017,3655297,339976,8.509456,56854,NaN
624d8c893c4c66d63708e6ef,2018,3741484,312107,7.699519,71545,NaN
624d8c893c4c66d63708e6f0,2019,3797304,301328,7.351916,77093,NaN
624d8c893c4c66d63708e6f1,2020,3717164,409639,9.926304,62833,NaN
624d8c893c4c66d63708e6f2,2021,3804941,331741,8.019495,95087,NaN