# Project Concrete 

_Project Concrete_ aims to correlate, visualize and predict real estate prices based on the relationship between various
factors such as unemployment rate, disposable income and population growth in Austria.

Data Sources used for this endeavour
- [Unemployment Rates (Source: data.gv.at)](https://www.data.gv.at/katalog/dataset/CFE2FF7E9AD53C1EE053C630070AB105)
- [Real Estate Prices (Source: statistik.at)](https://www.statistik.at/web_de/statistiken/wirtschaft/preise/immobilien_durchschnittspreise/index.html)
- [Real Estate Prices Vienna (Source: data.gv.at)](https://www.data.gv.at/katalog/dataset/kaufpreissammlung-liegenschaften-wien/resource/7b9bdd2d-2ff0-4e6e-bba5-21483d8cf55b)
- [Disposable Income  (Source: statistik.at)](https://www.statistik.at/web_de/statistiken/menschen_und_gesellschaft/soziales/haushalts-einkommen/index.html)
- [Population Growth (Source: data.gv.at)](https://www.data.gv.at/katalog/dataset/f5f823c1-631b-35bd-abed-1442a7cb52a2)

Planned execution steps:
- Data aggregation and collection (see Planned Data Sources)
- Data preperation and import into MongoDB
- Analysis of data via Jupyter Notebook
- Presentation and visualization of results (i.e. map of Austria, etc.)

### Install pymongo

In [1]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.1.1-cp310-cp310-macosx_10_9_universal2.whl (364 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 364.9/364.9 KB 3.4 MB/s eta 0:00:0000:0100:01
Installing collected packages: pymongo
Successfully installed pymongo-4.1.1

### Connect to DB via connection string

In [3]:
import pymongo
from pymongo import MongoClient
import pandas as pd

# Provide the mongodb atlas url to connect python to mongodb using pymongo
CONNECTION_STRING = "mongodb://127.0.0.1:27017"

# Create a connection using MongoClient
myclient = MongoClient(CONNECTION_STRING)

print("Connection Successful")

# Check DB data
for db in myclient.list_databases():
    print(db)

Connection Successful
{'name': 'admin', 'sizeOnDisk': 8192, 'empty': False}
{'name': 'config', 'sizeOnDisk': 12288, 'empty': False}
{'name': 'local', 'sizeOnDisk': 8192, 'empty': False}

In [7]:
#import unemployment CSV from 1946
unemploy_df = pd.read_csv('ub_al_alq_os.csv', sep = ";", decimal=',')
unemploy_df

,Jahr,UnselbstBesch,ArbeitslosVorgemerkte,Arbeitslosenquote,OffeneStellen,Unnamed: 5
0,1946,1760000,74000,4.034896,140067,NaN
1,1947,1900000,52700,2.698827,102810,NaN
2,1948,1926700,54500,2.750858,45334,NaN
3,1949,1944700,99900,4.886041,35724,NaN
4,1950,1946886,128745,6.202692,25187,NaN
...,...,...,...,...,...,...
71,2017,3655297,339976,8.509456,56854,NaN
72,2018,3741484,312107,7.699519,71545,NaN
73,2019,3797304,301328,7.351916,77093,NaN
74,2020,3717164,409639,9.926304,62833,NaN
75,2021,3804941,331741,8.019495,95087,NaN

In [12]:
#import population growth CSV from 1974
pop_growth_df = pd.read_csv('OGD_ake003j_AKEZR_1.csv', sep = ";", decimal=',')
pop_growth_df = pop_growth_df.rename(columns={'C-A10-0': 'YEAR', 'F-ISIS-1': 'PERSON_IN_THOUSAND'})
pop_growth_df.YEAR = pop_growth_df.YEAR.str.replace('A10-','',regex = True)
pop_growth_df

    YEAR  PERSON_IN_THOUSAND
0   1974                7519
1   1975                7501
2   1976                7484
3   1977                7485
4   1978                7482
5   1979                7467
6   1980                7465
7   1981                7481
8   1982                7493
9   1983                7479
10  1984                7477
11  1985                7481
12  1986                7486
13  1987                7491
14  1988                7500
15  1989                7530
16  1990                7587
17  1991                7661
18  1992                7747
19  1993                7816
20  1994                7849
21  1995                7861
22  1996                7871
23  1997                7880
24  1998                7888
25  1999                7902
26  2000                7920
27  2001                7948
28  2002                7989
29  2003                8023
30  2004                8065
31  2005                8119
32  2006                8162
33  2007                8187
34  2008                8211
35  2009                8229
36  2010                8245
37  2011                8269
38  2012                8303
39  2013                8350
40  2014                8415
41  2015                8491
42  2016                8599
43  2017                8646
44  2018                8679
45  2019                8717
46  2020                8766
47  2021                8807

In [16]:
#import real estate prices
real_estate_vienna_df = pd.read_csv('kaufpreissammlung-liegenschaften.csv', sep = ";", decimal=',', encoding='latin-1')
real_estate_vienna_df

/Users/kayaloeher/Library/Python/3.7/lib/python/site-packages/IPython/core/interactiveshell.py:3229: DtypeWarning: Columns (12,19,41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,KG.Code,Katastralgemeinde,EZ,PLZ,Straße,ON,Gst.,Gst.Fl.,ErwArt,Erwerbsdatum,...,Baureifgest,% Widmung,Baurecht,Bis,auf EZ,Stammeinlage,sonst_wid,sonst_wid_prz,ber. Kaufpreis,Bauzins
0,1617,Strebersdorf,1417.0,1210.0,Mühlweg,13,752/16,755.0,Kaufvertrag,13.10.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,750000.0,NaN
1,1607,Groß Jedlersdorf II,193.0,1210.0,Bahnsteggasse,4,408,510.0,Kaufvertrag,13.09.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,1250000.0,NaN
2,1209,Ober St.Veit,3570.0,1130.0,Jennerplatz,34/20,938/3,456.0,Kaufvertrag,10.08.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,480000.0,NaN
3,1207,Lainz,405.0,1130.0,Sebastian-Brunner-Gasse,6,8/23,523.0,Kaufvertrag,30.12.2020,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,1600000.0,NaN
4,1101,Favoriten,3831.0,1100.0,Laxenburger Straße,2C -2 D,2044/19,12768.0,Kaufvertrag,04.11.2020,...,FALSCH,30.0,FALSCH,NaN,NaN,FALSCH,"W V 22 g , Wi g","40 ,30",15000000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57907,1204,Hadersdorf,1057.0,1140.0,Laskywiesengasse,10,889,1313.0,Kaufvertrag,18.08.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,950000.0,NaN
57908,1204,Hadersdorf,1200.0,1140.0,Robert-Fuchs-Gasse,25-31,448,4003.0,Kaufvertrag,05.12.2018,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,5200000.0,NaN
57909,1206,Hütteldorf,2760.0,1140.0,Ulmenstraße,48,1232/1,499.0,Kaufvertrag,15.06.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,699000.0,NaN
57910,1216,Weidlingau,5.0,1140.0,Hauptstraße,114,11/2,1649.0,Kaufvertrag,26.07.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,1496000.0,NaN
57911,1206,Hütteldorf,816.0,1140.0,Steinböckengasse,57,685/1,21.0,MA 64-Bescheid,01.12.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,9450.0,NaN

### Create collection
Loading dataframes into database

In [19]:
# In MongoDB collections and DBs are only created on first insert (reminiscent of Git folders)
db = myclient["immodb"]

# We insert the whole dateframes

# unemploymentData
db.unemploymentData.insert_many(unemploy_df.to_dict('records'))
# populationGrowth
db.populationGrowth.insert_many(pop_growth_df.to_dict('records'))
# realEstateVienna
db.realEstateVienna.insert_many(real_estate_vienna_df.to_dict('records'))

#check if colletion has been created
print(db.list_collection_names())

['unemploymentData', 'realEstateVienna', 'populationGrowth']

In [ ]:
#check if colletion has content

# unemploymentData
unemp_col = db["unemploymentData"]
y = unemp_col.find()

for data in y:
    print(data)

# populationGrowth
# unemp_col = db["populationGrowth"]
# y = unemp_col.find()
#
# for data in y:
#     print(data)

# realEstateVienna
# unemp_col = db["realEstateVienna"]
# y = unemp_col.find()
#
# for data in y:
#     print(data)

In [115]:
#code for droping collection (tables) 
# db["unemploymentData"].drop()

### Load from database

In [113]:
# Build new dataframe by reading from database
unemployment_df = pd.DataFrame(list(unemp_col.find()))
unemployment_df = unemployment_df.set_index("_id")
unemployment_df

,Jahr,UnselbstBesch,ArbeitslosVorgemerkte,Arbeitslosenquote,OffeneStellen,Unnamed: 5
_id,,,,,,
624d8c893c4c66d63708e6a7,1946,1760000,74000,4.034896,140067,NaN
624d8c893c4c66d63708e6a8,1947,1900000,52700,2.698827,102810,NaN
624d8c893c4c66d63708e6a9,1948,1926700,54500,2.750858,45334,NaN
624d8c893c4c66d63708e6aa,1949,1944700,99900,4.886041,35724,NaN
624d8c893c4c66d63708e6ab,1950,1946886,128745,6.202692,25187,NaN
...,...,...,...,...,...,...
624d8c893c4c66d63708e6ee,2017,3655297,339976,8.509456,56854,NaN
624d8c893c4c66d63708e6ef,2018,3741484,312107,7.699519,71545,NaN
624d8c893c4c66d63708e6f0,2019,3797304,301328,7.351916,77093,NaN
624d8c893c4c66d63708e6f1,2020,3717164,409639,9.926304,62833,NaN
624d8c893c4c66d63708e6f2,2021,3804941,331741,8.019495,95087,NaN