# Project Concrete 

_Project Concrete_ aims to correlate, visualize and predict real estate prices based on the relationship between various
factors such as unemployment rate, disposable income and population growth in Austria.

Data Sources used for this endeavour
- [Unemployment Rates (Source: data.gv.at)](https://www.data.gv.at/katalog/dataset/CFE2FF7E9AD53C1EE053C630070AB105)
- !NOT IN USE! [Real Estate Prices (Source: statistik.at)](https://www.statistik.at/web_de/statistiken/wirtschaft/preise/immobilien_durchschnittspreise/index.html)
- [Real Estate Prices Vienna (Source: data.gv.at)](https://www.data.gv.at/katalog/dataset/kaufpreissammlung-liegenschaften-wien/resource/7b9bdd2d-2ff0-4e6e-bba5-21483d8cf55b)
- !NOT IN USE! [Disposable Income  (Source: statistik.at)](https://www.statistik.at/web_de/statistiken/menschen_und_gesellschaft/soziales/haushalts-einkommen/index.html)
- [Net Income Vienna (Source: statistik.at)](https://www.data.gv.at/katalog/dataset/d76c0e8b-c599-4700-8a88-29d0d87e563d)
- [Population Growth (Source: data.gv.at)](https://www.data.gv.at/katalog/dataset/f5f823c1-631b-35bd-abed-1442a7cb52a2)

Planned execution steps:
- Data aggregation and collection (see Planned Data Sources)
- Data preperation and import into MongoDB
- Analysis of data via Jupyter Notebook
- Presentation and visualization of results (i.e. map of Austria/Vienna, etc.)

### Install pymongo

In [1]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.1.1-cp310-cp310-macosx_10_9_universal2.whl (364 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 364.9/364.9 KB 3.4 MB/s eta 0:00:0000:0100:01
Installing collected packages: pymongo
Successfully installed pymongo-4.1.1

### Connect to DB via connection string

In [3]:
import pymongo
from pymongo import MongoClient
import pandas as pd

# Provide the mongodb atlas url to connect python to mongodb using pymongo
CONNECTION_STRING = "mongodb://127.0.0.1:27017"

# Create a connection using MongoClient
myclient = MongoClient(CONNECTION_STRING)

print("Connection Successful")

# Check DB data
for db in myclient.list_databases():
    print(db)

Connection Successful
{'name': 'admin', 'sizeOnDisk': 8192, 'empty': False}
{'name': 'config', 'sizeOnDisk': 12288, 'empty': False}
{'name': 'local', 'sizeOnDisk': 8192, 'empty': False}

In [7]:
#import unemployment CSV from 1946
unemploy_df = pd.read_csv('ub_al_alq_os.csv', sep = ";", decimal=',')
unemploy_df

,Jahr,UnselbstBesch,ArbeitslosVorgemerkte,Arbeitslosenquote,OffeneStellen,Unnamed: 5
0,1946,1760000,74000,4.034896,140067,NaN
1,1947,1900000,52700,2.698827,102810,NaN
2,1948,1926700,54500,2.750858,45334,NaN
3,1949,1944700,99900,4.886041,35724,NaN
4,1950,1946886,128745,6.202692,25187,NaN
...,...,...,...,...,...,...
71,2017,3655297,339976,8.509456,56854,NaN
72,2018,3741484,312107,7.699519,71545,NaN
73,2019,3797304,301328,7.351916,77093,NaN
74,2020,3717164,409639,9.926304,62833,NaN
75,2021,3804941,331741,8.019495,95087,NaN

In [12]:
#import population growth CSV from 1974
pop_growth_df = pd.read_csv('OGD_ake003j_AKEZR_1.csv', sep = ";", decimal=',')
pop_growth_df = pop_growth_df.rename(columns={'C-A10-0': 'YEAR', 'F-ISIS-1': 'PERSON_IN_THOUSAND'})
pop_growth_df.YEAR = pop_growth_df.YEAR.str.replace('A10-','',regex = True)
pop_growth_df

    YEAR  PERSON_IN_THOUSAND
0   1974                7519
1   1975                7501
2   1976                7484
3   1977                7485
4   1978                7482
5   1979                7467
6   1980                7465
7   1981                7481
8   1982                7493
9   1983                7479
10  1984                7477
11  1985                7481
12  1986                7486
13  1987                7491
14  1988                7500
15  1989                7530
16  1990                7587
17  1991                7661
18  1992                7747
19  1993                7816
20  1994                7849
21  1995                7861
22  1996                7871
23  1997                7880
24  1998                7888
25  1999                7902
26  2000                7920
27  2001                7948
28  2002                7989
29  2003                8023
30  2004                8065
31  2005                8119
32  2006                8162
33  2007                8187
34  2008                8211
35  2009                8229
36  2010                8245
37  2011                8269
38  2012                8303
39  2013                8350
40  2014                8415
41  2015                8491
42  2016                8599
43  2017                8646
44  2018                8679
45  2019                8717
46  2020                8766
47  2021                8807

In [16]:
#import real estate prices vienna from 1990
real_estate_vienna_df = pd.read_csv('kaufpreissammlung-liegenschaften.csv', sep = ";", decimal=',', encoding='latin-1')
real_estate_vienna_df

/Users/kayaloeher/Library/Python/3.7/lib/python/site-packages/IPython/core/interactiveshell.py:3229: DtypeWarning: Columns (12,19,41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,KG.Code,Katastralgemeinde,EZ,PLZ,Straße,ON,Gst.,Gst.Fl.,ErwArt,Erwerbsdatum,...,Baureifgest,% Widmung,Baurecht,Bis,auf EZ,Stammeinlage,sonst_wid,sonst_wid_prz,ber. Kaufpreis,Bauzins
0,1617,Strebersdorf,1417.0,1210.0,Mühlweg,13,752/16,755.0,Kaufvertrag,13.10.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,750000.0,NaN
1,1607,Groß Jedlersdorf II,193.0,1210.0,Bahnsteggasse,4,408,510.0,Kaufvertrag,13.09.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,1250000.0,NaN
2,1209,Ober St.Veit,3570.0,1130.0,Jennerplatz,34/20,938/3,456.0,Kaufvertrag,10.08.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,480000.0,NaN
3,1207,Lainz,405.0,1130.0,Sebastian-Brunner-Gasse,6,8/23,523.0,Kaufvertrag,30.12.2020,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,1600000.0,NaN
4,1101,Favoriten,3831.0,1100.0,Laxenburger Straße,2C -2 D,2044/19,12768.0,Kaufvertrag,04.11.2020,...,FALSCH,30.0,FALSCH,NaN,NaN,FALSCH,"W V 22 g , Wi g","40 ,30",15000000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57907,1204,Hadersdorf,1057.0,1140.0,Laskywiesengasse,10,889,1313.0,Kaufvertrag,18.08.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,950000.0,NaN
57908,1204,Hadersdorf,1200.0,1140.0,Robert-Fuchs-Gasse,25-31,448,4003.0,Kaufvertrag,05.12.2018,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,5200000.0,NaN
57909,1206,Hütteldorf,2760.0,1140.0,Ulmenstraße,48,1232/1,499.0,Kaufvertrag,15.06.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,699000.0,NaN
57910,1216,Weidlingau,5.0,1140.0,Hauptstraße,114,11/2,1649.0,Kaufvertrag,26.07.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,1496000.0,NaN
57911,1206,Hütteldorf,816.0,1140.0,Steinböckengasse,57,685/1,21.0,MA 64-Bescheid,01.12.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,9450.0,NaN

In [23]:
#import net income vienna from 2002
net_income_vienna_df = pd.read_csv('vie-bez-biz-ecn-inc-sex-2002f.csv', sep=';', decimal=',')
net_income_vienna_df

,NUTS,DISTRICT_CODE,SUB_DISTRICT_CODE,REF_YEAR,REF_DATE,INC_TOT_VALUE,INC_MAL_VALUE,INC_FEM_VALUE
0,AT13,90000,90000,2002,20021231,18.217,20.709,15.424
1,AT13,90100,90100,2002,20021231,25.463,31.961,18.536
2,AT13,90200,90200,2002,20021231,16.439,18.301,14.282
3,AT13,90300,90300,2002,20021231,18.701,21.444,15.804
4,AT13,90400,90400,2002,20021231,20.325,23.641,16.876
...,...,...,...,...,...,...,...,...
451,AT13,91900,91900,2020,20201231,29.195,34.102,24.257
452,AT13,92000,92000,2020,20201231,20.671,21.591,19.531
453,AT13,92100,92100,2020,20201231,24.061,26.202,21.693
454,AT13,92200,92200,2020,20201231,26.272,29.302,23.100
455,AT13,92300,92300,2020,20201231,26.900,30.160,23.451

### Create collection
Loading dataframes into database

In [24]:
# In MongoDB collections and DBs are only created on first insert (reminiscent of Git folders)
db = myclient["immodb"]

# We insert the whole dateframes
# unemploymentData
db.unemploymentData.insert_many(unemploy_df.to_dict('records'))
# populationGrowth
db.populationGrowth.insert_many(pop_growth_df.to_dict('records'))
# realEstateVienna
db.realEstateVienna.insert_many(real_estate_vienna_df.to_dict('records'))
# netIncomeVienna
db.netIncomeVienna.insert_many(net_income_vienna_df.to_dict('records'))

#check if colletion has been created
print(db.list_collection_names())

['netIncomeVienna', 'unemploymentData', 'realEstateVienna', 'populationGrowth']

In [28]:
#check if collection has content

# unemploymentData
unemp_col = db["unemploymentData"]
y = unemp_col.find()

for data in y:
    print(data)

# populationGrowth
populationGrowth_col = db["populationGrowth"]
# y = populationGrowth_col.find()
#
# for data in y:
#     print(data)

# realEstateVienna
realEstateVienna_col = db["realEstateVienna"]
# y = realEstateVienna_col.find()
#
# for data in y:
#     print(data)

# netIncomeVienna
netIncomeVienna_col = db["netIncomeVienna"]
# y = netIncomeVienna_col.find()
#
# for data in y:
#     print(data)

{'_id': ObjectId('626163596daf38671d1eb1cf'), 'Jahr': 1946, 'UnselbstBesch': 1760000, 'ArbeitslosVorgemerkte': 74000, 'Arbeitslosenquote': 4.034896401308616, 'OffeneStellen': 140067, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1d0'), 'Jahr': 1947, 'UnselbstBesch': 1900000, 'ArbeitslosVorgemerkte': 52700, 'Arbeitslosenquote': 2.6988272648128238, 'OffeneStellen': 102810, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1d1'), 'Jahr': 1948, 'UnselbstBesch': 1926700, 'ArbeitslosVorgemerkte': 54500, 'Arbeitslosenquote': 2.750858065818696, 'OffeneStellen': 45334, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1d2'), 'Jahr': 1949, 'UnselbstBesch': 1944700, 'ArbeitslosVorgemerkte': 99900, 'Arbeitslosenquote': 4.886041279467867, 'OffeneStellen': 35724, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1d3'), 'Jahr': 1950, 'UnselbstBesch': 1946886, 'ArbeitslosVorgemerkte': 128745, 'Arbeitslosenquote': 6.202692097005683, 'OffeneStellen': 25187, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1d4'), 'Jahr': 1951, 'UnselbstBesch': 1984313, 'ArbeitslosVorgemerkte': 117497, 'Arbeitslosenquote': 5.590276951770141, 'OffeneStellen': 26860, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1d5'), 'Jahr': 1952, 'UnselbstBesch': 1939075, 'ArbeitslosVorgemerkte': 156792, 'Arbeitslosenquote': 7.481009052578242, 'OffeneStellen': 16303, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1d6'), 'Jahr': 1953, 'UnselbstBesch': 1918891, 'ArbeitslosVorgemerkte': 183478, 'Arbeitslosenquote': 8.727202503461571, 'OffeneStellen': 12475, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1d7'), 'Jahr': 1954, 'UnselbstBesch': 1975241, 'ArbeitslosVorgemerkte': 163073, 'Arbeitslosenquote': 7.626241983169918, 'OffeneStellen': 17190, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1d8'), 'Jahr': 1955, 'UnselbstBesch': 2074223, 'ArbeitslosVorgemerkte': 117890, 'Arbeitslosenquote': 5.3779161931889465, 'OffeneStellen': 24590, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1d9'), 'Jahr': 1956, 'UnselbstBesch': 2137093, 'ArbeitslosVorgemerkte': 115123, 'Arbeitslosenquote': 5.1115434754037805, 'OffeneStellen': 21811, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1da'), 'Jahr': 1957, 'UnselbstBesch': 2185387, 'ArbeitslosVorgemerkte': 107283, 'Arbeitslosenquote': 4.6793912774189055, 'OffeneStellen': 21089, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1db'), 'Jahr': 1958, 'UnselbstBesch': 2202809, 'ArbeitslosVorgemerkte': 116675, 'Arbeitslosenquote': 5.030213616476769, 'OffeneStellen': 21435, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1dc'), 'Jahr': 1959, 'UnselbstBesch': 2236064, 'ArbeitslosVorgemerkte': 104856, 'Arbeitslosenquote': 4.479264562650582, 'OffeneStellen': 24882, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1dd'), 'Jahr': 1960, 'UnselbstBesch': 2281915, 'ArbeitslosVorgemerkte': 79310, 'Arbeitslosenquote': 3.3588497496003136, 'OffeneStellen': 30189, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1de'), 'Jahr': 1961, 'UnselbstBesch': 2322206, 'ArbeitslosVorgemerkte': 60505, 'Arbeitslosenquote': 2.5393343968278157, 'OffeneStellen': 37777, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1df'), 'Jahr': 1962, 'UnselbstBesch': 2340448, 'ArbeitslosVorgemerkte': 61658, 'Arbeitslosenquote': 2.5668309391841992, 'OffeneStellen': 37608, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1e0'), 'Jahr': 1963, 'UnselbstBesch': 2342103, 'ArbeitslosVorgemerkte': 67642, 'Arbeitslosenquote': 2.8070189999356776, 'OffeneStellen': 37362, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1e1'), 'Jahr': 1964, 'UnselbstBesch': 2363780, 'ArbeitslosVorgemerkte': 62828, 'Arbeitslosenquote': 2.589128528382005, 'OffeneStellen': 39612, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1e2'), 'Jahr': 1965, 'UnselbstBesch': 2381467, 'ArbeitslosVorgemerkte': 61464, 'Arbeitslosenquote': 2.515994107078751, 'OffeneStellen': 41888, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1e3'), 'Jahr': 1966, 'UnselbstBesch': 2386628, 'ArbeitslosVorgemerkte': 56188, 'Arbeitslosenquote': 2.3001323063218844, 'OffeneStellen': 45937, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1e4'), 'Jahr': 1967, 'UnselbstBesch': 2359550, 'ArbeitslosVorgemerkte': 57967, 'Arbeitslosenquote': 2.3977907911299075, 'OffeneStellen': 32402, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1e5'), 'Jahr': 1968, 'UnselbstBesch': 2339319, 'ArbeitslosVorgemerkte': 61505, 'Arbeitslosenquote': 2.561828772121572, 'OffeneStellen': 27638, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1e6'), 'Jahr': 1969, 'UnselbstBesch': 2357655, 'ArbeitslosVorgemerkte': 55235, 'Arbeitslosenquote': 2.2891636170733016, 'OffeneStellen': 33889, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1e7'), 'Jahr': 1970, 'UnselbstBesch': 2389195, 'ArbeitslosVorgemerkte': 45106, 'Arbeitslosenquote': 1.8529343741796929, 'OffeneStellen': 45280, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1e8'), 'Jahr': 1971, 'UnselbstBesch': 2454858, 'ArbeitslosVorgemerkte': 36980, 'Arbeitslosenquote': 1.4840451104766843, 'OffeneStellen': 55914, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1e9'), 'Jahr': 1972, 'UnselbstBesch': 2512718, 'ArbeitslosVorgemerkte': 33235, 'Arbeitslosenquote': 1.3054050879965184, 'OffeneStellen': 61998, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1ea'), 'Jahr': 1973, 'UnselbstBesch': 2608306, 'ArbeitslosVorgemerkte': 31327, 'Arbeitslosenquote': 1.1867937701945688, 'OffeneStellen': 66060, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1eb'), 'Jahr': 1974, 'UnselbstBesch': 2656922, 'ArbeitslosVorgemerkte': 35931, 'Arbeitslosenquote': 1.3343097450919157, 'OffeneStellen': 57599, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1ec'), 'Jahr': 1975, 'UnselbstBesch': 2656440, 'ArbeitslosVorgemerkte': 55464, 'Arbeitslosenquote': 2.0452051400049562, 'OffeneStellen': 31209, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1ed'), 'Jahr': 1976, 'UnselbstBesch': 2685862, 'ArbeitslosVorgemerkte': 55257, 'Arbeitslosenquote': 2.015855568474043, 'OffeneStellen': 29366, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1ee'), 'Jahr': 1977, 'UnselbstBesch': 2737147, 'ArbeitslosVorgemerkte': 51165, 'Arbeitslosenquote': 1.8349811642312623, 'OffeneStellen': 32136, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1ef'), 'Jahr': 1978, 'UnselbstBesch': 2757705, 'ArbeitslosVorgemerkte': 58570, 'Arbeitslosenquote': 2.0796974727254973, 'OffeneStellen': 29405, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1f0'), 'Jahr': 1979, 'UnselbstBesch': 2773719, 'ArbeitslosVorgemerkte': 56719, 'Arbeitslosenquote': 2.0038948035604385, 'OffeneStellen': 31360, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1f1'), 'Jahr': 1980, 'UnselbstBesch': 2788737, 'ArbeitslosVorgemerkte': 53161, 'Arbeitslosenquote': 1.8706160460368388, 'OffeneStellen': 36470, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1f2'), 'Jahr': 1981, 'UnselbstBesch': 2798557, 'ArbeitslosVorgemerkte': 69295, 'Arbeitslosenquote': 2.4162683429967795, 'OffeneStellen': 25320, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1f3'), 'Jahr': 1982, 'UnselbstBesch': 2766350, 'ArbeitslosVorgemerkte': 105346, 'Arbeitslosenquote': 3.668424512901087, 'OffeneStellen': 17276, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1f4'), 'Jahr': 1983, 'UnselbstBesch': 2734729, 'ArbeitslosVorgemerkte': 127376, 'Arbeitslosenquote': 4.450430714456667, 'OffeneStellen': 15181, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1f5'), 'Jahr': 1984, 'UnselbstBesch': 2744506, 'ArbeitslosVorgemerkte': 130469, 'Arbeitslosenquote': 4.53809163557944, 'OffeneStellen': 17166, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1f6'), 'Jahr': 1985, 'UnselbstBesch': 2759657, 'ArbeitslosVorgemerkte': 139447, 'Arbeitslosenquote': 4.810003366557392, 'OffeneStellen': 22273, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1f7'), 'Jahr': 1986, 'UnselbstBesch': 2780204, 'ArbeitslosVorgemerkte': 151972, 'Arbeitslosenquote': 5.182908529365222, 'OffeneStellen': 24693, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1f8'), 'Jahr': 1987, 'UnselbstBesch': 2785358, 'ArbeitslosVorgemerkte': 164468, 'Arbeitslosenquote': 5.5755153015805, 'OffeneStellen': 26836, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1f9'), 'Jahr': 1988, 'UnselbstBesch': 2810478, 'ArbeitslosVorgemerkte': 158631, 'Arbeitslosenquote': 5.342713925288697, 'OffeneStellen': 31184, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1fa'), 'Jahr': 1989, 'UnselbstBesch': 2862291, 'ArbeitslosVorgemerkte': 149177, 'Arbeitslosenquote': 4.9536305881384095, 'OffeneStellen': 45599, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1fb'), 'Jahr': 1990, 'UnselbstBesch': 2928662, 'ArbeitslosVorgemerkte': 165795, 'Arbeitslosenquote': 5.357805909081949, 'OffeneStellen': 55622, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1fc'), 'Jahr': 1991, 'UnselbstBesch': 2997352, 'ArbeitslosVorgemerkte': 185029, 'Arbeitslosenquote': 5.814168699473759, 'OffeneStellen': 49448, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1fd'), 'Jahr': 1992, 'UnselbstBesch': 3055810, 'ArbeitslosVorgemerkte': 193098, 'Arbeitslosenquote': 5.943473930317509, 'OffeneStellen': 44126, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1fe'), 'Jahr': 1993, 'UnselbstBesch': 3054910, 'ArbeitslosVorgemerkte': 222265, 'Arbeitslosenquote': 6.782213339232722, 'OffeneStellen': 32906, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb1ff'), 'Jahr': 1994, 'UnselbstBesch': 3070732, 'ArbeitslosVorgemerkte': 214941, 'Arbeitslosenquote': 6.541764807392581, 'OffeneStellen': 30197, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb200'), 'Jahr': 1995, 'UnselbstBesch': 3068186, 'ArbeitslosVorgemerkte': 215716, 'Arbeitslosenquote': 6.5688927379684285, 'OffeneStellen': 24986, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb201'), 'Jahr': 1996, 'UnselbstBesch': 3047253, 'ArbeitslosVorgemerkte': 230507, 'Arbeitslosenquote': 7.032455091281851, 'OffeneStellen': 19431, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb202'), 'Jahr': 1997, 'UnselbstBesch': 3055569, 'ArbeitslosVorgemerkte': 233348, 'Arbeitslosenquote': 7.094979897638037, 'OffeneStellen': 19019, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb203'), 'Jahr': 1998, 'UnselbstBesch': 3076667, 'ArbeitslosVorgemerkte': 237794, 'Arbeitslosenquote': 7.174439524254471, 'OffeneStellen': 23088, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb204'), 'Jahr': 1999, 'UnselbstBesch': 3107898, 'ArbeitslosVorgemerkte': 221743, 'Arbeitslosenquote': 6.6596669130395725, 'OffeneStellen': 31216, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb205'), 'Jahr': 2000, 'UnselbstBesch': 3133738, 'ArbeitslosVorgemerkte': 194314, 'Arbeitslosenquote': 5.838670789999674, 'OffeneStellen': 35495, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb206'), 'Jahr': 2001, 'UnselbstBesch': 3148155, 'ArbeitslosVorgemerkte': 203883, 'Arbeitslosenquote': 6.0823594481924115, 'OffeneStellen': 29670, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb207'), 'Jahr': 2002, 'UnselbstBesch': 3155161, 'ArbeitslosVorgemerkte': 232418, 'Arbeitslosenquote': 6.8608879674835626, 'OffeneStellen': 23189, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb208'), 'Jahr': 2003, 'UnselbstBesch': 3184759, 'ArbeitslosVorgemerkte': 240079, 'Arbeitslosenquote': 7.009937404338541, 'OffeneStellen': 21716, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb209'), 'Jahr': 2004, 'UnselbstBesch': 3198591, 'ArbeitslosVorgemerkte': 243880, 'Arbeitslosenquote': 7.084446370279099, 'OffeneStellen': 23774, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb20a'), 'Jahr': 2005, 'UnselbstBesch': 3230286, 'ArbeitslosVorgemerkte': 252654, 'Arbeitslosenquote': 7.2540431295061145, 'OffeneStellen': 26209, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb20b'), 'Jahr': 2006, 'UnselbstBesch': 3280878, 'ArbeitslosVorgemerkte': 239174, 'Arbeitslosenquote': 6.794615534088701, 'OffeneStellen': 32912, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb20c'), 'Jahr': 2007, 'UnselbstBesch': 3344039, 'ArbeitslosVorgemerkte': 222248, 'Arbeitslosenquote': 6.231915715140143, 'OffeneStellen': 38214, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb20d'), 'Jahr': 2008, 'UnselbstBesch': 3388617, 'ArbeitslosVorgemerkte': 212253, 'Arbeitslosenquote': 5.894492164393605, 'OffeneStellen': 37498, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb20e'), 'Jahr': 2009, 'UnselbstBesch': 3339051, 'ArbeitslosVorgemerkte': 260309, 'Arbeitslosenquote': 7.232091260668564, 'OffeneStellen': 27165, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb20f'), 'Jahr': 2010, 'UnselbstBesch': 3360238, 'ArbeitslosVorgemerkte': 250782, 'Arbeitslosenquote': 6.944907533051604, 'OffeneStellen': 31009, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb210'), 'Jahr': 2011, 'UnselbstBesch': 3421748, 'ArbeitslosVorgemerkte': 246702, 'Arbeitslosenquote': 6.724965584920063, 'OffeneStellen': 32310, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb211'), 'Jahr': 2012, 'UnselbstBesch': 3465454, 'ArbeitslosVorgemerkte': 260643, 'Arbeitslosenquote': 6.995067492875253, 'OffeneStellen': 29422, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb212'), 'Jahr': 2013, 'UnselbstBesch': 3482996, 'ArbeitslosVorgemerkte': 287206, 'Arbeitslosenquote': 7.617788118514606, 'OffeneStellen': 26383, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb213'), 'Jahr': 2014, 'UnselbstBesch': 3503400, 'ArbeitslosVorgemerkte': 319357, 'Arbeitslosenquote': 8.354101503182127, 'OffeneStellen': 26320, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb214'), 'Jahr': 2015, 'UnselbstBesch': 3534854, 'ArbeitslosVorgemerkte': 354332, 'Arbeitslosenquote': 9.11069822836964, 'OffeneStellen': 29251, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb215'), 'Jahr': 2016, 'UnselbstBesch': 3586872, 'ArbeitslosVorgemerkte': 357313, 'Arbeitslosenquote': 9.05923530463201, 'OffeneStellen': 40277, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb216'), 'Jahr': 2017, 'UnselbstBesch': 3655297, 'ArbeitslosVorgemerkte': 339976, 'Arbeitslosenquote': 8.509456049686719, 'OffeneStellen': 56854, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb217'), 'Jahr': 2018, 'UnselbstBesch': 3741484, 'ArbeitslosVorgemerkte': 312107, 'Arbeitslosenquote': 7.699518772367512, 'OffeneStellen': 71545, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb218'), 'Jahr': 2019, 'UnselbstBesch': 3797304, 'ArbeitslosVorgemerkte': 301328, 'Arbeitslosenquote': 7.351916444316054, 'OffeneStellen': 77093, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb219'), 'Jahr': 2020, 'UnselbstBesch': 3717164, 'ArbeitslosVorgemerkte': 409639, 'Arbeitslosenquote': 9.926303927566199, 'OffeneStellen': 62833, 'Unnamed: 5': nan}
{'_id': ObjectId('626163596daf38671d1eb21a'), 'Jahr': 2021, 'UnselbstBesch': 3804941, 'ArbeitslosVorgemerkte': 331741, 'Arbeitslosenquote': 8.019494851187499, 'OffeneStellen': 95087, 'Unnamed: 5': nan}
{'_id': ObjectId('6261665c6daf38671d1eb24b'), 'Jahr': 1946, 'UnselbstBesch': 1760000, 'ArbeitslosVorgemerkte': 74000, 'Arbeitslosenquote': 4.034896401308616, 'OffeneStellen': 140067, 'Unnamed: 5': nan}
{'_id': ObjectId('6261665c6daf38671d1eb24c'), 'Jahr': 1947, 'UnselbstBesch': 1900000, 'ArbeitslosVorgemerkte': 52700, 'Arbeitslosenquote': 2.6988272648128238, 'OffeneStellen': 102810, 'Unnamed: 5': nan}
{'_id': ObjectId('6261665c6daf38671d1eb24d'), 'Jahr': 1948, 'UnselbstBesch': 1926700, 'ArbeitslosVorgemerkte': 54500, 'Arbeitslosenquote': 2.750858065818696, 'OffeneStellen': 45334, 'Unnamed: 5': nan}
{'_id': ObjectId('6261665c6daf38671d1eb24e'), 'Jahr': 1949, 'UnselbstBesch': 1944700, 'ArbeitslosVorgemerkte': 99900, 'Arbeitslosenquote': 4.886041279467867, 'OffeneStellen': 35724, 'Unnamed: 5': nan}
{'_id': ObjectId('6261665c6daf38671d1eb24f'), 'Jahr': 1950, 'UnselbstBesch': 1946886, 'ArbeitslosVorgemerkte': 128745, 'Arbeitslosenquote': 6.202692097005683, 'OffeneStellen': 25187, 'Unnamed: 5': nan}
{'_id': ObjectId('6261665c6daf38671d1eb250'), 'Jahr': 1951, 'UnselbstBesch': 1984313, 'ArbeitslosVorgemerkte': 117497, 'Arbeitslosenquote': 5.590276951770141, 'OffeneStellen': 26860, 'Unnamed: 5': nan}
{'_id': ObjectId('6261665c6daf38671d1eb251'), 'Jahr': 1952, 'UnselbstBesch': 1939075, 'ArbeitslosVorgemerkte': 156792, 'Arbeitslosenquote': 7.481009052578242, 'OffeneStellen': 16303, 'Unnamed: 5': nan}
{'_id': ObjectId('6261665c6daf38671d1eb252'), 'Jahr': 1953, 'UnselbstBesch': 1918891, 'ArbeitslosVorgemerkte': 183478, 'Arbeitslosenquote': 8.727202503461571, 'OffeneStellen': 12475, 'Unnamed: 5': nan}
{'_id': ObjectId('6261665c6daf38671d1eb253'), 'Jahr': 1954, 'UnselbstBesch': 1975241, 'ArbeitslosVorgemerkte': 163073, 'Arbeitslosenquote': 7.626241983169918, 'OffeneStellen': 17190, 'Unnamed: 5': nan}
{'_id': ObjectId('6261665c6daf38671d1eb254'), 'Jahr': 1955, 'UnselbstBesch': 2074223, 'ArbeitslosVorgemerkte': 117890, 'Arbeitslosenquote': 5.3779161931889465, 'OffeneStellen': 24590, 'Unnamed: 5': nan}
{'_id': ObjectId('6261665c6daf38671d1eb255'), 'Jahr': 1956, 'UnselbstBesch': 2137093, 'ArbeitslosVorgemerkte': 115123, 'Arbeitslosenquote': 5.1115434754037805, 'OffeneStellen': 21811, 'Unnamed: 5': nan}
{'_id': ObjectId('6261665c6daf38671d1eb256'), 'Jahr': 1957, 'UnselbstBesch': 2185387, 'ArbeitslosVorgemerkte': 107283, 'Arbeitslosenquote': 4.6793912774189055, 'OffeneStellen': 21089, 'Unnamed: 5': nan}
{'_id': ObjectId('6261665c6daf38671d1eb257'), 'Jahr': 1958, 'UnselbstBesch': 2202809, 'ArbeitslosVorgemerkte': 116675, 'Arbeitslosenquote': 5.030213616476769, 'OffeneStellen': 21435, 'Unnamed: 5': nan}
{'_id': ObjectId('6261665c6daf38671d1eb258'), 'Jahr': 1959, 'UnselbstBesch': 2236064, 'ArbeitslosVorgemerkte': 104856, 'Arbeitslosenquote': 4.479264562650582, 'OffeneStellen': 24882, 'Unnamed: 5': nan}
{'_id': ObjectId('6261665c6daf38671d1eb259'), 'Jahr': 1960, 'UnselbstBesch': 2281915, 'ArbeitslosVorgemerkte': 79310, 'Arbeitslosenquote': 3.3588497496003136, 'OffeneStellen': 30189, 'Unnamed: 5': nan}
{'_id': ObjectId('6261665c6daf38671d1eb25a'), 'Jahr': 1961, 'UnselbstBesch': 2322206, 'ArbeitslosVorgemerkte': 60505, 'Arbeitslosenquote': 2.5393343968278157, 'OffeneStellen': 37777, 'Unnamed: 5': nan}
{'_id': ObjectId('6261665c6daf38671d1eb25b'), 'Jahr': 1962, 'UnselbstBesch': 2340448, 'ArbeitslosVorgemerkte': 61658, 'Arbeitslosenquote': 2.5668309391841992, 'OffeneStellen': 37608, 'Unnamed: 5': nan}
{'_id': ObjectId('6261665c6daf38671d1eb25c'), 'Jahr': 1963, 'UnselbstBesch': 2342103, 'ArbeitslosVorgemerkte': 67642, 'Arbeitslosenquote': 2.8070189999356776, 'OffeneStellen': 37362, 'Unnamed: 5': nan}
{'_id': ObjectId('6261665c6daf38671d1eb25d'), 'Jahr': 1964, 'UnselbstBesch': 2363780, 'ArbeitslosVorgemerkte': 62828, 'Arbeitslosenquote': 2.589128528382005, 'OffeneStellen': 39612, 'Unnamed: 5': nan}
{'_id': ObjectId('6261665c6daf38671d1eb25e'), 'Jahr': 1965, 'UnselbstBesch': 2381467, 'ArbeitslosVorgemerkte': 61464, 'Arbeitslosenquote': 2.515994107078751, 'OffeneStellen': 41888, 'Unnamed: 5': nan}
{'_id': ObjectId('6261665c6daf38671d1eb25f'), 'Jahr': 1966, 'UnselbstBesch': 2386628, 'ArbeitslosVorgemerkte': 56188, 'Arbeitslosenquote': 2.3001323063218844, 'OffeneStellen': 45937, 'Unnamed: 5': nan}
{'_id': ObjectId('6261665c6daf38671d1eb260'), 'Jahr': 1967, 'UnselbstBesch': 2359550, 'ArbeitslosVorgemerkte': 57967, 'Arbeitslosenquote': 2.3977907911299075, 'OffeneStellen': 32402, 'Unnamed: 5': nan}
{'_id': ObjectId('6261665c6daf38671d1eb261'), 'Jahr': 1968, 'UnselbstBesch': 2339319, 'ArbeitslosVorgemerkte': 61505, 'Arbeitslosenquote': 2.561828772121572, 'OffeneStellen': 27638, 'Unnamed: 5': nan}

In [115]:
#code for droping collection (tables) 
# db["unemploymentData"].drop()
# db["populationGrowth"].drop()
# db["realEstateVienna"].drop()
# db["netIncomeVienna"].drop()

### Load from database
Build new dataframe by reading from database

In [31]:
# Unemployment
unemployment_fromDb = pd.DataFrame(list(unemp_col.find()))
unemployment_fromDb = unemployment_fromDb.set_index("_id")
unemployment_fromDb

,Jahr,UnselbstBesch,ArbeitslosVorgemerkte,Arbeitslosenquote,OffeneStellen,Unnamed: 5
_id,,,,,,
626163596daf38671d1eb1cf,1946,1760000,74000,4.034896,140067,NaN
626163596daf38671d1eb1d0,1947,1900000,52700,2.698827,102810,NaN
626163596daf38671d1eb1d1,1948,1926700,54500,2.750858,45334,NaN
626163596daf38671d1eb1d2,1949,1944700,99900,4.886041,35724,NaN
626163596daf38671d1eb1d3,1950,1946886,128745,6.202692,25187,NaN
...,...,...,...,...,...,...
62617cb56daf38671d1f9546,2017,3655297,339976,8.509456,56854,NaN
62617cb56daf38671d1f9547,2018,3741484,312107,7.699519,71545,NaN
62617cb56daf38671d1f9548,2019,3797304,301328,7.351916,77093,NaN
62617cb56daf38671d1f9549,2020,3717164,409639,9.926304,62833,NaN
62617cb56daf38671d1f954a,2021,3804941,331741,8.019495,95087,NaN

In [32]:
#population growth
populationGrowth_fromDb = pd.DataFrame(list(populationGrowth_col.find()))
populationGrowth_fromDb = populationGrowth_fromDb.set_index("_id")
populationGrowth_fromDb

                          YEAR  PERSON_IN_THOUSAND
_id
626163596daf38671d1eb21b  1974                7519
626163596daf38671d1eb21c  1975                7501
626163596daf38671d1eb21d  1976                7484
626163596daf38671d1eb21e  1977                7485
626163596daf38671d1eb21f  1978                7482
...                        ...                 ...
62617cb56daf38671d1f9576  2017                8646
62617cb56daf38671d1f9577  2018                8679
62617cb56daf38671d1f9578  2019                8717
62617cb56daf38671d1f9579  2020                8766
62617cb56daf38671d1f957a  2021                8807

[144 rows x 2 columns]

In [33]:
#real estate vienna
realEstateVienna_fromDb = pd.DataFrame(list(realEstateVienna_col.find()))
realEstateVienna_fromDb = realEstateVienna_fromDb.set_index("_id")
realEstateVienna_fromDb

,KG.Code,Katastralgemeinde,EZ,PLZ,Straße,ON,Gst.,Gst.Fl.,ErwArt,Erwerbsdatum,...,Baureifgest,% Widmung,Baurecht,Bis,auf EZ,Stammeinlage,sonst_wid,sonst_wid_prz,ber. Kaufpreis,Bauzins
_id,,,,,,,,,,,,,,,,,,,,,
6261665e6daf38671d1eb2c7,1617,Strebersdorf,1417.0,1210.0,Mühlweg,13,752/16,755.0,Kaufvertrag,13.10.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,750000.0,NaN
6261665e6daf38671d1eb2c8,1607,Groß Jedlersdorf II,193.0,1210.0,Bahnsteggasse,4,408,510.0,Kaufvertrag,13.09.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,1250000.0,NaN
6261665e6daf38671d1eb2c9,1209,Ober St.Veit,3570.0,1130.0,Jennerplatz,34/20,938/3,456.0,Kaufvertrag,10.08.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,480000.0,NaN
6261665e6daf38671d1eb2ca,1207,Lainz,405.0,1130.0,Sebastian-Brunner-Gasse,6,8/23,523.0,Kaufvertrag,30.12.2020,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,1600000.0,NaN
6261665e6daf38671d1eb2cb,1101,Favoriten,3831.0,1100.0,Laxenburger Straße,2C -2 D,2044/19,12768.0,Kaufvertrag,04.11.2020,...,FALSCH,30.0,FALSCH,NaN,NaN,FALSCH,"W V 22 g , Wi g","40 ,30",15000000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62617cb96daf38671d2077ae,1204,Hadersdorf,1057.0,1140.0,Laskywiesengasse,10,889,1313.0,Kaufvertrag,18.08.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,950000.0,NaN
62617cb96daf38671d2077af,1204,Hadersdorf,1200.0,1140.0,Robert-Fuchs-Gasse,25-31,448,4003.0,Kaufvertrag,05.12.2018,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,5200000.0,NaN
62617cb96daf38671d2077b0,1206,Hütteldorf,2760.0,1140.0,Ulmenstraße,48,1232/1,499.0,Kaufvertrag,15.06.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,699000.0,NaN
62617cb96daf38671d2077b1,1216,Weidlingau,5.0,1140.0,Hauptstraße,114,11/2,1649.0,Kaufvertrag,26.07.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,1496000.0,NaN
62617cb96daf38671d2077b2,1206,Hütteldorf,816.0,1140.0,Steinböckengasse,57,685/1,21.0,MA 64-Bescheid,01.12.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,9450.0,NaN

In [34]:
# net income vienna
netIncomeVienna_fromDb = pd.DataFrame(list(realEstateVienna_col.find()))
netIncomeVienna_fromDb = netIncomeVienna_fromDb.set_index("_id")
netIncomeVienna_fromDb

,KG.Code,Katastralgemeinde,EZ,PLZ,Straße,ON,Gst.,Gst.Fl.,ErwArt,Erwerbsdatum,...,Baureifgest,% Widmung,Baurecht,Bis,auf EZ,Stammeinlage,sonst_wid,sonst_wid_prz,ber. Kaufpreis,Bauzins
_id,,,,,,,,,,,,,,,,,,,,,
6261665e6daf38671d1eb2c7,1617,Strebersdorf,1417.0,1210.0,Mühlweg,13,752/16,755.0,Kaufvertrag,13.10.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,750000.0,NaN
6261665e6daf38671d1eb2c8,1607,Groß Jedlersdorf II,193.0,1210.0,Bahnsteggasse,4,408,510.0,Kaufvertrag,13.09.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,1250000.0,NaN
6261665e6daf38671d1eb2c9,1209,Ober St.Veit,3570.0,1130.0,Jennerplatz,34/20,938/3,456.0,Kaufvertrag,10.08.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,480000.0,NaN
6261665e6daf38671d1eb2ca,1207,Lainz,405.0,1130.0,Sebastian-Brunner-Gasse,6,8/23,523.0,Kaufvertrag,30.12.2020,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,1600000.0,NaN
6261665e6daf38671d1eb2cb,1101,Favoriten,3831.0,1100.0,Laxenburger Straße,2C -2 D,2044/19,12768.0,Kaufvertrag,04.11.2020,...,FALSCH,30.0,FALSCH,NaN,NaN,FALSCH,"W V 22 g , Wi g","40 ,30",15000000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62617cb96daf38671d2077ae,1204,Hadersdorf,1057.0,1140.0,Laskywiesengasse,10,889,1313.0,Kaufvertrag,18.08.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,950000.0,NaN
62617cb96daf38671d2077af,1204,Hadersdorf,1200.0,1140.0,Robert-Fuchs-Gasse,25-31,448,4003.0,Kaufvertrag,05.12.2018,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,5200000.0,NaN
62617cb96daf38671d2077b0,1206,Hütteldorf,2760.0,1140.0,Ulmenstraße,48,1232/1,499.0,Kaufvertrag,15.06.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,699000.0,NaN
62617cb96daf38671d2077b1,1216,Weidlingau,5.0,1140.0,Hauptstraße,114,11/2,1649.0,Kaufvertrag,26.07.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,1496000.0,NaN
62617cb96daf38671d2077b2,1206,Hütteldorf,816.0,1140.0,Steinböckengasse,57,685/1,21.0,MA 64-Bescheid,01.12.2021,...,FALSCH,100.0,FALSCH,NaN,NaN,FALSCH,NaN,NaN,9450.0,NaN